@model JD_BebidasProjeto.Models.PRODUTO

@{
    ViewBag.Title = "Deletar";
}

<h2>Deletando</h2>

<div>
    <form action="/Produto/ConfirmeDelete?id=@Model.PROID" method="post">
        <div>
            <class ="form-group">
                <label>Descrição</label>
                <label>@Model.PRODESCRICAO</label>
        </div>

        <div>
            <class="form-group">

                <label>Imagem</label>
                <label>
                

                    @{
                        if (Model.PROIMAGEM != null)
                        {
                            var base64 = Convert.ToBase64String(Model.PROIMAGEM);
                            var imgSrc = String.Format("data:image/gif;base64,{0}", base64);
                            <img src='@imgSrc' style="max-width:100px; max-height:100px;" />
                        }

                    }
                </label>
            </class>

        </div>

     

        <br />

        <div>
            <p><a href="/produto/index" class="btn btn-primary">Voltar &raquo;</a></p>
            <button type="submit" class="btn btn-danger">Deletar</button>
        </div>



    </form>
</div>