@model IEnumerable<JD_BebidasProjeto.Models.PROTIPO>

@{
    ViewBag.Title = "Criar";
}

<h2>Criar</h2>

<div>
    <form action="/ProTipo/Criar" enctype="multipart/form-data" method="post">



        <div>
            <label>Produto: </label>
            <select id="produto" name="produto">

                @foreach (var item in ViewBag.listaProduto)
                {
                    <option value="@item.PROID">@item.PRODESCRICAO</option>
                }

            </select>

        </div>

        <div>
            <label>Tipo: </label>
            <select id="tipo" name="tipo">

                @foreach (var item in ViewBag.listaTipo)
                {
                    <option value="@item.TIPID">@item.TIPNOME</option>
                }

            </select>

        </div>

        <div>
            <class ="form-group">
                <label for="maximo">Máximo</label>
                <input type="number" class="form-control"
                       id="maximo" name="maximo" value="0" min="0"
                       required />
        </div>

        <div>
            <class ="form-group">
                <label for="minimo">Mínimo</label>
                <input type="number" class="form-control"
                       id="minimo" name="minimo" value="0" min="0"
                       required />
        </div>

        <div>
            <class ="form-group">
                <label for="estoque">Estoque</label>
                <input type="number" class="form-control"
                       id="estoque" name="estoque" value="0" min="0"
                       required />
        </div>



        <div class="form-group">
            <label for="arquivo">Imagem</label>
            <input type="file" class="form-control"
                   id="imagem" name="imagem" />
        </div>





        <div>
            <button type="submit" class="btn btn-success">Salvar</button>
            <a href="/protipo/index" class="btn btn-primary">Voltar</a>

        </div>



    </form>
</div>