@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Entrar</h1>
    <p class="lead">Clique para Entrar</p>
    <p><a href="/home/Projetos" class="btn btn-primary btn-lg">Entrar &raquo;</a></p>
</div>