
@{
    ViewBag.Title = "Projetos";
}

<div class="row">
    <br />
    <br />
    <br />
    <div class="col-md-4">
        <h1>Produto</h1>
        <p class="lead">Para entrar, basta clicar no botão.</p>
        <p><a href="/produto/index" class="btn btn-primary btn-lg">Entrar &raquo;</a></p>
    </div>

    <div class="col-md-4">
        <h1>Entrada</h1>
        <p class="lead">Para entrar, basta clicar no botão.</p>
        <p><a href="/Home/Fazendo" class="btn btn-primary btn-lg">Entrar &raquo;</a></p>
    </div>

    <div class="col-md-4">
        <h1>Saida</h1>
        <p class="lead">Para entrar, basta clicar no botão.</p>
        <p><a href="/Home/Fazendo" class="btn btn-primary btn-lg">Entrar &raquo;</a></p>
    </div>

    <div class="col-md-4">
        <h1>Categorias</h1>
        <p class="lead">Para entrar, basta clicar no botão.</p>
        <p><a href="/Categorias/index" class="btn btn-primary btn-lg">Entrar &raquo;</a></p>
    </div>

</div>
<br />
<br />
<br />
<br />
<br />
<p><a href="/home/index" class="btn btn-primary">Voltar &raquo;</a></p>