@model JD_BebidasProjeto.Models.TIPO

@{
    ViewBag.Title = "Deletar";
}

<h2>Deletando</h2>

<div>
    <form action="/Tipo/ConfirmeDelete?id=@Model.TIPID" method="post">
        <div>
            <class ="form-group">
                <label>Descrição</label>
                <label>@Model.TIPNOME</label>
        </div>

     

        <br />

        <div>
            <p><a href="/Tipo/index" class="btn btn-primary">Voltar &raquo;</a></p>
            <button type="submit" class="btn btn-danger">Deletar</button>
        </div>



    </form>
</div>