@model IEnumerable < JD_BebidasProjeto.Models.TIPO >


@{
    ViewBag.Title = "Index";
}

<body class="fundo">

    <h2>Tipo </h2>

    <p><a class="btn btn-info" href="/Tipo/Criar">Criar novo Tipo &raquo;</a></p>
    <div >


        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Descrição</th>

                </tr>
            </thead>
            <tbody class="teste">
                @foreach (var item in Model)
                {

                    <tr>
                        <th scope="row">@item.TIPID</th>
                        <td>@item.TIPNOME</td>






                        <td class="butoes">

                            <a href="/Tipo/editar?id=@item.TIPID"><button type="button" class="btn btn-warning">Editar</button></a>
                            <a href="/Tipo/deletar?id=@item.TIPID"><button type="button" class="btn btn-danger">Deletar</button></a>

                        </td>
                    </tr>
                }




            </tbody>
        </table>


    </div>








    <p><a href="/home/projetos" class="btn btn-primary">Voltar &raquo;</a></p>

</body>











