USE [master]
GO
/****** Object:  Database [BDJDBEBIDAS]    Script Date: 28/09/2022 15:18:29 ******/
CREATE DATABASE [BDJDBEBIDAS]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BDJDBEBIDAS', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.BLACKCRISPER\MSSQL\DATA\BDJDBEBIDAS.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BDJDBEBIDAS_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.BLACKCRISPER\MSSQL\DATA\BDJDBEBIDAS_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BDJDBEBIDAS].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BDJDBEBIDAS]
GO
/****** Object:  Table [dbo].[CATEGORIA]    Script Date: 28/09/2022 15:18:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CATEGORIA](
	[CATID] [int] IDENTITY(1,1) NOT NULL,
	[CATDESCRICAO] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CATID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[CATDESCRICAO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ENTRADA]    Script Date: 28/09/2022 15:18:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ENTRADA](
	[ENTID] [int] IDENTITY(1,1) NOT NULL,
	[ENTDATA] [datetime] NOT NULL,
	[ENTORIGEM] [varchar](100) NULL,
	[ENTOBSERVACAO] [varchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[ENTID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ITENSENTRADA]    Script Date: 28/09/2022 15:18:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ITENSENTRADA](
	[ITEID] [int] IDENTITY(1,1) NOT NULL,
	[PTID] [int] NOT NULL,
	[ITEQUANTIDADE] [int] NOT NULL,
	[ITEPRECO] [numeric](18, 2) NOT NULL,
	[ITETOTAL]  AS ([ITEQUANTIDADE]*[ITEPRECO]),
	[ENTID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ITEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ITENSSAIDA]    Script Date: 28/09/2022 15:18:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ITENSSAIDA](
	[ITSID] [int] IDENTITY(1,1) NOT NULL,
	[PTID] [int] NOT NULL,
	[ITSQUANTIDADE] [int] NOT NULL,
	[ITSPRECO] [numeric](18, 2) NOT NULL,
	[ITSTOTAL]  AS ([ITSQUANTIDADE]*[ITSPRECO]),
	[SAIID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ITSID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PRODUTO]    Script Date: 28/09/2022 15:18:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRODUTO](
	[PROID] [int] IDENTITY(1,1) NOT NULL,
	[PRODESCRICAO] [varchar](100) NOT NULL,
	[CATID] [int] NOT NULL,
	[PROIMAGEM] [varbinary](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[PROID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PROTIPO]    Script Date: 28/09/2022 15:18:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PROTIPO](
	[PTID] [int] IDENTITY(1,1) NOT NULL,
	[PROID] [int] NOT NULL,
	[TIPID] [int] NOT NULL,
	[PTMINIMO] [int] NOT NULL,
	[PTMAXIMO] [int] NOT NULL,
	[PTESTOQUE] [int] NOT NULL,
	[PTIMAGEM] [varbinary](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[PTID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SAIDA]    Script Date: 28/09/2022 15:18:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SAIDA](
	[SAIID] [int] IDENTITY(1,1) NOT NULL,
	[SAIDATA] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[SAIID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TIPO]    Script Date: 28/09/2022 15:18:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TIPO](
	[TIPID] [int] IDENTITY(1,1) NOT NULL,
	[TIPNOME] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TIPID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[TIPNOME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ENTRADA] ADD  DEFAULT (getdate()) FOR [ENTDATA]
GO
ALTER TABLE [dbo].[PROTIPO] ADD  DEFAULT ((0)) FOR [PTMINIMO]
GO
ALTER TABLE [dbo].[PROTIPO] ADD  DEFAULT ((0)) FOR [PTMAXIMO]
GO
ALTER TABLE [dbo].[PROTIPO] ADD  DEFAULT ((0)) FOR [PTESTOQUE]
GO
ALTER TABLE [dbo].[SAIDA] ADD  DEFAULT (getdate()) FOR [SAIDATA]
GO
ALTER TABLE [dbo].[ITENSENTRADA]  WITH CHECK ADD FOREIGN KEY([ENTID])
REFERENCES [dbo].[ENTRADA] ([ENTID])
GO
ALTER TABLE [dbo].[ITENSENTRADA]  WITH CHECK ADD FOREIGN KEY([PTID])
REFERENCES [dbo].[PROTIPO] ([PTID])
GO
ALTER TABLE [dbo].[ITENSSAIDA]  WITH CHECK ADD FOREIGN KEY([SAIID])
REFERENCES [dbo].[SAIDA] ([SAIID])
GO
ALTER TABLE [dbo].[ITENSSAIDA]  WITH CHECK ADD FOREIGN KEY([PTID])
REFERENCES [dbo].[PROTIPO] ([PTID])
GO
ALTER TABLE [dbo].[PRODUTO]  WITH CHECK ADD FOREIGN KEY([CATID])
REFERENCES [dbo].[CATEGORIA] ([CATID])
GO
ALTER TABLE [dbo].[PROTIPO]  WITH CHECK ADD FOREIGN KEY([PROID])
REFERENCES [dbo].[PRODUTO] ([PROID])
GO
ALTER TABLE [dbo].[PROTIPO]  WITH CHECK ADD FOREIGN KEY([TIPID])
REFERENCES [dbo].[TIPO] ([TIPID])
GO
ALTER TABLE [dbo].[ITENSENTRADA]  WITH CHECK ADD CHECK  (([ITEPRECO]>(0)))
GO
ALTER TABLE [dbo].[ITENSENTRADA]  WITH CHECK ADD CHECK  (([ITEQUANTIDADE]>(0)))
GO
ALTER TABLE [dbo].[ITENSSAIDA]  WITH CHECK ADD CHECK  (([ITSPRECO]>(0)))
GO
ALTER TABLE [dbo].[ITENSSAIDA]  WITH CHECK ADD CHECK  (([ITSQUANTIDADE]>(0)))
GO
ALTER TABLE [dbo].[PROTIPO]  WITH CHECK ADD CHECK  (([PTESTOQUE]>=(0)))
GO
ALTER TABLE [dbo].[PROTIPO]  WITH CHECK ADD CHECK  (([PTMAXIMO]>=(0)))
GO
ALTER TABLE [dbo].[PROTIPO]  WITH CHECK ADD CHECK  (([PTMINIMO]>=(0)))
GO
USE [master]
GO
