@model IEnumerable <JD_BebidasProjeto.Models.CATEGORIA>

@{
    ViewBag.Title = "Criar";
}

<h2>Criar</h2>

<div>
    <form action="/Categorias/Criar" method="post">
        <div>
            <class ="form-group">
                <label for="descricao">Descrição</label>
                <input type="text" class="form-control"
                       maxlength="100" id="descricao" name="descricao"
                       required />
        </div>
        
       



        <div>
            <button type="submit" class="btn btn-success">Salvar</button>
            <a href="/Categorias/index" class="btn btn-primary">Voltar</a>

        </div>



    </form>
</div>